<div id='test'>hello</div>
<a href="/users">Users</a>

<button id="button"> load text</button>
<ul id="list">{{#each arr}}<li>{{this}}</li>{{/each}}</ul>

<button id="random">load random image</button>
<script src="/js/index.js"></script>
